@mixin font($scope: '') {
  .#{$scope}lh16 {
    line-height: 16px;
  }
  .#{$scope}lh18 {
    line-height: 18px;
  }
  .#{$scope}lh20 {
    line-height: 20px;
  }
  .#{$scope}lh22 {
    line-height: 22px;
  }
  .#{$scope}lh24 {
    line-height: 24px;
  }
  .#{$scope}lh30 {
    line-height: 30px;
  }
  .#{$scope}lh32 {
    line-height: 32px;
  }
  .#{$scope}lh36 {
    line-height: 36px;
  }
  .#{$scope}lh38 {
    line-height: 38px;
  }
  .#{$scope}lh40 {
    line-height: 40px;
  }
  .#{$scope}lh42 {
    line-height: 42px;
  }
  .#{$scope}lh48 {
    line-height: 48px;
  }
  .#{$scope}lh52 {
    line-height: 52px;
  }

  .#{$scope}ooo {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .#{$scope}ttu {
    text-transform: uppercase;
  }
  .#{$scope}wsn {
    white-space: nowrap;
  }
  .#{$scope}tdn {
    text-decoration: none;
  }
  .#{$scope}tdu {
    text-decoration: underline;
  }
}
