@mixin layout($scope: '') {
  .#{$scope}pa {
    position: absolute;
  }
  .#{$scope}pr {
    position: relative;
  }
  .#{$scope}fill {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  .#{$scope}dn {
    display: none;
  }
  .#{$scope}dc {
    display: contents;
  }
  .#{$scope}dg {
    display: grid;
  }
  .#{$scope}db {
    display: block;
  }
  .#{$scope}dif {
    display: inline-flex;
  }
  .#{$scope}dib {
    display: inline-block;
  }
  .#{$scope}df {
    display: flex;
  }

  .#{$scope}aic {
    align-items: center;
  }
  .#{$scope}ais {
    align-items: stretch;
  }
  .#{$scope}jcc {
    justify-content: center;
  }
  .#{$scope}jcfe {
    justify-content: flex-end;
  }
  .#{$scope}jcsb {
    justify-content: space-between;
  }
  .#{$scope}asc {
    align-self: center;
  }
  .#{$scope}fdc {
    flex-direction: column;
  }
  .#{$scope}fdr {
    flex-direction: row;
  }
  .#{$scope}fdcr {
    flex-direction: column-reverse;
  }
  .#{$scope}asfe {
    align-self: flex-end;
  }
  .#{$scope}aife {
    align-items: flex-end;
  }
  .#{$scope}fww {
    flex-wrap: wrap;
  }
  .#{$scope}f1 {
    flex: 1;
  }
  .#{$scope}f2 {
    flex: 2;
  }
  .#{$scope}f3 {
    flex: 3;
  }

  .#{$scope}br4 {
    border-radius: 4px;
  }
  .#{$scope}br8 {
    border-radius: 8px;
  }
  .#{$scope}br12 {
    border-radius: 12px;
  }

  .#{$scope}p24 {
    padding: 24px;
  }
  .#{$scope}ph8 {
    padding-left: 8px;
    padding-right: 8px;
  }
  .#{$scope}ph10 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .#{$scope}ph12 {
    padding-left: 12px;
    padding-right: 12px;
  }
  .#{$scope}ph16 {
    padding-left: 16px;
    padding-right: 16px;
  }
  .#{$scope}ph20 {
    padding-left: 20px;
    padding-right: 20px;
  }
  .#{$scope}ph24 {
    padding-left: 24px;
    padding-right: 24px;
  }
  .#{$scope}ph32 {
    padding-left: 32px;
    padding-right: 32px;
  }
  .#{$scope}ph40 {
    padding-left: 40px;
    padding-right: 40px;
  }
  .#{$scope}pv16 {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .#{$scope}pv20 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .#{$scope}pv24 {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .#{$scope}pl16 {
    padding-left: 16px;
  }
  .#{$scope}pr16 {
    padding-right: 16px;
  }

  .#{$scope}wp50 {
    width: 50%;
  }
  .#{$scope}wp100 {
    width: 100%;
  }
  .#{$scope}hp100 {
    height: 100%;
  }

  .#{$scope}ovh {
    overflow: hidden;
  }

  .#{$scope}g4 {
    gap: 4px;
  }
  .#{$scope}g6 {
    gap: 6px;
  }
  .#{$scope}g8 {
    gap: 8px;
  }
  .#{$scope}g10 {
    gap: 10px;
  }
  .#{$scope}g12 {
    gap: 12px;
  }
  .#{$scope}g16 {
    gap: 16px;
  }
  .#{$scope}g18 {
    gap: 18px;
  }
  .#{$scope}g20 {
    gap: 20px;
  }
  .#{$scope}g24 {
    gap: 24px;
  }
  .#{$scope}g28 {
    gap: 28px;
  }
  .#{$scope}g32 {
    gap: 32px;
  }
  .#{$scope}g44 {
    gap: 44px;
  }
  @media (max-width: 640px) {
    .#{$scope}xs\:g16 {
      gap: 16px;
    }
  }
}
